$color-main = #000;
$color-sub = #fff;
$color-transaction = #47B600;
$color-cancel = #DB0000;
$color-background = #fff;
$color-background-lightgray = #F8F8F8;
$color-background-darkgray = #D8D8D8;
$color-text-hover = gray;