@import '~assets/styles/variables/color.styl';
@import '~assets/styles/variables/font-size.styl';

.container {
  .title {
    padding-bottom: 2px;
    border-bottom: 1px solid $color-main;
    font-size: $font-size-large;
    font-weight: normal;
  }
}